<!-- MANTENIMIENTO CLIENTES -->
<div class="mantenimientoContainer">
  <h2 class="font-bold text-indigo-700 mb-1">Mantenimiento de Clientes</h2>

  <form action="">
    <!-- Columna Formulario -->

    <div class="rowForm">
      <div class="input-container">
        <input type="text" id="codigo" placeholder=" " required />
        <label for="codigo">Codigo</label>
      </div>
      <div class="input-container">
        <input type="text" id="rut" placeholder=" " required />
        <label for="rut">R.U.T</label>
      </div>
    </div>

    <div class="columnForm">
      <div class="input-container">
        <input type="text" id="nombre" placeholder=" " required />
        <label for="nombre">Nombre</label>
      </div>
      <div class="input-container">
        <input type="text" id="direccion" placeholder=" " required />
        <label for="direccion">Dirección</label>
      </div>
    </div>

    <div class="rowForm">
      <div class="input-container">
        <input type="text" id="ciudad" placeholder=" " required />
        <label for="ciudad">Ciudad</label>
      </div>
      <div class="input-container">
        <input type="text" id="telefono" placeholder=" " required />
        <label for="telefono">Telefono</label>
      </div>
    </div>

    <div class="rowForm">
      <div class="input-container">
        <input type="text" id="fax" placeholder=" " required />
        <label for="fax">Fax</label>
      </div>
      <div class="input-container">
        <input type="text" id="contacto" placeholder=" " required />
        <label for="contacto">Contacto</label>
      </div>
      <div class="input-container">
        <input type="text" id="telcon" placeholder=" " required />
        <label for="telcon">Telefono Contacto</label>
      </div>
    </div>

    <div class="rowForm">
      <div class="input-container">
        <input type="text" id="giroId" placeholder=" " required />
        <label for="giroId">Giro Id</label>
      </div>
      <div class="input-container">
        <select id="select-option" required>
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="opcion1">Opción 1</option>
          <option value="opcion2">Opción 2</option>
          <option value="opcion3">Opción 3</option>
        </select>
        <label for="select-option">Opciones</label>
      </div>
    </div>

    <div class="rowForm">
      <div class="input-container">
        <input type="text" id="aNombre" placeholder=" " required />
        <label for="aNombre">Abreviatura Nombre</label>
      </div>
      <div class="input-container">
        <input type="text" id="correo" placeholder=" " required />
        <label for="correo">Correo Electronico</label>
      </div>
    </div>

    <div class="rowForm">
      <div class="input-container">
        <input type="text" id="fPago" placeholder=" " required />
        <label for="fPago">Forma de Pago</label>
      </div>
      <div class="input-container">
        <select id="select-option" required>
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="opcion1">Opción 1</option>
          <option value="opcion2">Opción 2</option>
          <option value="opcion3">Opción 3</option>
        </select>
        <label for="select-option">Opciones</label>
      </div>
    </div>

    <div class="rowForm">
      <div class="input-container">
        <input type="text" id="collec" placeholder=" " required />
        <label for="collec  ">Collectible</label>
      </div>
      <div class="input-container">
        <select id="select-option" required>
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="opcion1">Opción 1</option>
          <option value="opcion2">Opción 2</option>
          <option value="opcion3">Opción 3</option>
        </select>
        <label for="select-option">Opciones</label>
      </div>
    </div>

    <div class="rowForm">
      <div class="input-container">
        <input type="number" id="dias" placeholder=" " required />
        <label for="dias">Dias</label>
      </div>
      <div class="input-container">
        <input type="text" id="seguroGuia" placeholder=" " required />
        <label for="seguroGuia">Seguro Guía</label>
      </div>
      <div class="input-container">
        <select id="select-option" required>
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="opcion1">Opción 1</option>
          <option value="opcion2">Opción 2</option>
          <option value="opcion3">Opción 3</option>
        </select>
        <label for="select-option">Opciones</label>
      </div>
    </div>
  </form>
</div>

<!-- CALCULO MONTO -->
<div class="calculoMontoContainer">
  <h2 class="font-bold text-indigo-700 mb-1">Calculo Monto</h2>

  <form action="">
    <!-- Columna Formulario -->

    <div class="rowForm">
      <div class="input-container">
        <input type="number" id="mf" placeholder=" " required />
        <label for="mf">Monto Facturado</label>
      </div>
      <div class="input-container">
        <input type="number" id="mxf" placeholder=" " required />
        <label for="mxf">Monto x Facturar</label>
      </div>
      <div class="input-container">
        <input type="number" id="td" placeholder=" " required />
        <label for="td">Total Deuda</label>
      </div>
    </div>

    <div class="rowForm">
      <div class="input-container">
        <input type="number" id="dv" placeholder=" " required />
        <label for="dv">Días Vencidos</label>
      </div>
      <div class="input-container">
        <input type="number" id="d" placeholder=" " required />
        <label for="d">Dás</label>
      </div>
    </div>
  </form>
</div>
